
.centered {
    text-align: center !important;
    vertical-align: middle !important;
}

td, th {
    border-width: 1px;
    color: white !important;
}

body {
    background-color: #1F242D;
    color: white;
}
